  <div class="row-fluid">
    
    <form method="POST" id="form">
	<legend><h1><%= title %></h1></legend>

	<p><label for="type">Тип аниме:</label></p>
	<p><input id="type" name="type" size = "120" value="serials" type="radio">Аниме сериал</p>
	<p><input id="type" name="type" size = "120" value="movie" type="radio">Аниме фильм</p>
	<p><input id="type" name="type" size = "120" value="ova" type="radio">Аниме OVA</p>


	<p><label for="name">Название:</label></p>
	<p><input id="name" name="name" size = "80" value="" type="text"></p>

	<p><label for="genre:">Жанр:</label></p>
	<p><input id="genre" name="genre" size = "80" value="" type="text"></p>

	<p><label for="image:">Изображение:</label></p>
	<p><input id="image" name="image" size = "80" value="" type="text"></p>

	<p><label for="info:">Информация:</label></p>
	<p><textarea id="info" name="info" rows="4" cols="79" size = "80" value="" type="text"></textarea></p>
	</form>
	<div class="results"></div>
	<p><button onclick="addanime()">Добавить аниме</button></p>
	
  </div>