<div class="container-fluid">
  
    <h1><%= title %></h1>



    <form method="POST" id="form">

	<p><input id="id" name="animeID" size = "80" value="<%= animeID %>" type="text"></p>

    <p><label for="number">Номер сезона:</label></p>
	<p><input id="number" name="number" size = "80" value="" type="text"></p>

    </form>
    <div class="results"></div>
    <p><button onclick="addseason('<%= animeID %>')">Добавить сезон</button></p>

</div>
