<h1><%= title %></h1>

<ul id="nav">

    <li><a class="sub" tabindex="1">HTML/CSS</a>
        <ul>
            <li><a>Ссылка 1</a></li>
            <li><a>Ссылка 2</a></li>
            <li><a>Ссылка 3</a></li>
            <li><a>Ссылка 4</a></li>
            <li><a>Ссылка 5</a></li>
        </ul>
    </li>

    <li><a class="sub" tabindex="1">HTML/CSS</a>
        <ul>
            <li><a>Ссылка 1</a></li>
            <li><a>Ссылка 2</a></li>
            <li><a>Ссылка 3</a></li>
            <li><a>Ссылка 4</a></li>
            <li><a>Ссылка 5</a></li>
        </ul>
    </li>

    <li><a class="sub" tabindex="1">HTML/CSS</a>
        <ul>
            <li><a>Ссылка 1</a></li>
            <li><a>Ссылка 2</a></li>
            <li><a>Ссылка 3</a></li>
            <li><a>Ссылка 4</a></li>
            <li><a>Ссылка 5</a></li>
        </ul>
    </li>

    

</ul>
