<h1><%= title %><h2>Серия</h2></h1>

<div>
	<div id="video">
		<iframe src="http://moonwalk.cc/video/13c339fcdeb1455f/iframe" width="607" height="360" frameborder="0" allowfullscreen></iframe>
	</div>

	<div id="list">
		
	</div>

	<p onclick="hello()">Hello</p>

	<a class="button" onclick="season()">Добавить в избранное</a>

</div>