<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </head>

  <div class="container">
  <header>

  		<div id="top"><img src="/images/top.jpg"></div>

	  
	  	 	<ul id="menu">
					<li><a href="/">Главная</a></li>
					<li><a href="/myanimelist">Мой аниме лист</a></li>
          <li><a href="/serials">Аниме Сериалы</a></li>
					<!-- <li><a href="/animeova">Аниме OVA</a></li> -->

          <% if (user) { %>
            <% if (user.name = 'А') { %>
              <li><a href="/admin">Админ</a></li>
            <% } %>
          <% } %>

					<!-- <li id="animemovie"><a href="/animemovie">Аниме Фильмы</a></li> -->

          <% if (user) { %>
          <li id="log"><a href="" onclick="$('<form method=POST action=/logout>').submit();return false">Добро пожаловать, <%= user.get('username') %></a></form></li>
          <% } else { %>
          <li id="log"><a href="/login">Войти</a></li>
          <% } %>
			</ul>

  </header>
    <%- body %>

    <footer>
      <div class="footer"></div>
    </footer>
  </div>

  
</html>