body {
	background: url(../images/fon.png);
}
.container {
background: #ffffff;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
width: 1000px !important;


}
.container #top {
	width: 100%;
	height: 200px;
}

.container #top img{
	width: 100%;
	height: 200px;
}

.container #menu {
	list-style-type: none;
	padding: 0px 4px 0px 4px;
	background: #d63c15;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	border-radius: 0px 0px 3px 3px;
	
}
.container #menu li {
		display: inline-block;
		border-right: 1px solid #fcf5e8;
		margin: 4px 0px 4px 0px;
		padding: 8px;
}

.container #menu li a {
	text-decoration: none;
	color: #fcf5e8;
	text-transform: uppercase;

}

.container #menu #log{
	float: right;
	border: none;
}

.container #menu #animemovie {
	border: none;
}

.container-fluid .pad {
	padding: 0 0 0 0;
}

.container .side-menu {
	display: inline-block;
	list-style-type: none;
	padding: 0px 4px 0px 4px;
	background: #d63c15;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	border-radius: 3px;
	width: 150px;
}

.container .side-menu li {
		display: block;
		margin: 4px 0px 4px 0px;
		padding: 4px;
}

.container .side-menu li a {
	text-decoration: none;
	color: #fcf5e8;
	cursor: pointer;
}

.container .side-menu ul {
	padding: 0px;
}

.button {
	text-align: center;
  	font-weight: 700;
  	color: white;
  	text-decoration: none;
  	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 3px;
  	background: rgb(64,199,129);
  	box-shadow: 0 -3px rgb(53,167,110) inset;
  	transition: 0.2s;
} 
.button:hover { background: rgb(53, 167, 110); }
.button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

/*div {
	border: 1px double black;
}*/

#footer {
    height: 27px;
}

#id {
	display: none;
}

img {
	height:300px;
}

#list {
	height: 80px;
	width: 607px;
	border-radius: 5px;
	background: #d63c15;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	overflow: scroll;



}

#list a {
	text-decoration: none;
	cursor: pointer;

}

.refrash{
	background: #d62000;
	font-style: italic;

}

#buttons {
	
    margin-top: 15px;

}