body {
	background: url(../images/fon.png);
}
.container {
background: #ffffff;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
width: 1000px !important;


}
.container #top {
	width: 100%;
	height: 200px;
}

.container #top img{
	width: 100%;
	height: 200px;
}

.container #menu {
	list-style-type: none;
	padding: 0px 4px 0px 4px;
	background: #d63c15;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	border-radius: 0px 0px 3px 3px;
	
}
.container #menu li {
		display: inline-block;
		border-right: 1px solid #fcf5e8;
		margin: 4px 0px 4px 0px;
		padding: 8px;
}

.container #menu li a {
	text-decoration: none;
	color: #fcf5e8;
	text-transform: uppercase;

}

.container #menu #log{
	float: right;
	border: none;
}

.container #menu #animemovie {
	border: none;
}

.container-fluid .pad {
	padding: 0 0 0 0;
}

.container .side-menu {
	display: inline-block;
	list-style-type: none;
	padding: 0px 4px 0px 4px;
	background: #d63c15;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	border-radius: 3px;
	width: 150px;
}

.container .side-menu li {
		display: block;
		margin: 4px 0px 4px 0px;
		padding: 4px;
}

.container .side-menu li a {
	text-decoration: none;
	color: #fcf5e8;
	cursor: pointer;
}

.container .side-menu ul {
	padding: 0px;
}

.button {
	text-align: center;
  	font-weight: 700;
  	color: white;
  	text-decoration: none;
  	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 3px;
  	background: rgb(64,199,129);
  	box-shadow: 0 -3px rgb(53,167,110) inset;
  	transition: 0.2s;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
} 
.button:hover { background: rgb(53, 167, 110); }
.button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

/*div {
	border: 1px double black;
}*/

.footer {
    height: 20px;
}

#id {
	display: none;
}

img {
	height:300px;
}

#list {
	
	border-radius: 3px;
	

}



#buttons {

    margin-top: 15px;

}

.deleteButton {
	height: 14px;
	width: 14px;
	cursor: pointer;

}





#nav {
   

    box-shadow:0 2px 10px rgba(0,0,0,0.5);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
#nav, #nav ul {
    list-style:none;
    padding:0;
    width: 150px;
    cursor: pointer;
    border-radius:3px;
}
#nav ul {
    position:relative;
    z-index:-1;
}
#nav li {
    position:relative;
    z-index:100;
}
#nav ul li {
    margin-top:-23px;

    -moz-transition:  0.4s linear 0.4s;
    -ms-transition: 0.4s linear 0.4s;
    -o-transition: 0.4s linear 0.4s;
    -webkit-transition: 0.4s linear 0.4s;
    transition: 0.4s linear 0.4s;
}
#nav li a {
    background-color:#d63c15;
    color:#fff;
    display:block;
    font-size:12px;
    font-weight:bold;
    line-height:28px;
    outline:0;
    padding-left:15px;
    text-decoration:none;
}

#nav li a:hover {
    background-color:#d62515;
}
#nav ul li a {
    background-color:#eee;
    border-bottom:1px solid #ccc;
    color:#000;
    font-size:11px;
    line-height:22px;
}
#nav ul li a:hover {
    background-color:#ddd;
    color:#444;
}

#nav ul li:nth-child(odd) a img {
    background:url("../images/bulb2.png") no-repeat;
}
#nav a.sub:focus {
    background:#d63c15;
    outline:0;
}
#nav a:focus ~ ul li {
    margin-top:0;

    -moz-transition:  0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linears;
    -webkit-transition: 0.4s linears;
    transition: 0.4s linear;
}

#nav a.sub:active {
    background:#d63c15;
    outline:0;
}
#nav a:active ~ ul li {
    margin-top:0;
}
#nav ul:hover {
    display:block;
}
